<div class="container">
   <div class="row">
    <div class="col-md-3">
        <app-menu  (ItemEvent)="SatirEkle()"
                    (InputEvent)="InputAdd()"
                    (TimeEvent)="TimeAdd()"
        ></app-menu>
    </div>
    <div class="col-md-9">
        <div class="container" id="coll">
            
            <div >
                <label for="">BAŞLIK ALANI</label>
                <div class="mb-2">
                    <div class="row align-items-center" id="coll" style="background-color: rgb(155, 210, 247); margin-top: 10px;">
            
                        <div class="col-9">
                            <input [(ngModel)]="baslik" type="text" placeholder="BAŞLIK Ekleyiniz..." class="form-control">
                        </div>
                        <div class="col">
                            <span class="form-text">
                               BAŞLIK EKLE
                            </span>
                        </div>
                        <div class="col col-lg-2">
                        </div>
                      
                    </div>
                                </div>
            
            </div>
            <label for="">İçerikler</label>
            <div cdkDropList class="cdk-drop-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let m of listItems" cdkDrag>
                    <div class="row align-items-center" id="coll" style="background-color: rgb(155, 210, 247); margin-top: 10px;">
            
                        <div class="col-4">
                            <input (change)="OnChange($event,m._Id,'text')" type="text" placeholder=" {{m._text}} Açıklması" class="form-control">
                        </div>
                        <div class="col-3">
                            <div class="btn-group">
                                
                                <select  (change)="OnChange($event,m._Id,'aling')" class="btn btn-secondary btn-sm dropdown-toggle" type="button">
                                    <option>Saga Yasla</option>
                                    <option>Sola Yasla</option>
                                    <option>Ortala</option>
                                </select>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="btn-group">
                                
                                <select (change)="OnChange($event,m._Id,'font')" class="btn btn-secondary btn-sm dropdown-toggle" type="button">
                                    <option>12 punto</option>
                                    <option>18 punto</option>
                                    <option>24 punto</option>
                                </select>
                              </div>
                        </div>
                        
                        <div class="col col-lg-2">
                            <button (click)="Delete(m._Id)" type="button" style="margin: 5px;" class="btn btn-danger"> Sil</button>
                        </div>
                      
                    </div>
                </div>
            
            </div>
            </div>

    </div>
</div> 
</div>



