
<ul class="list-group">
    <li  class="list-group-item"> </li>
    <li class="list-group-item"><button (click)="AddInput()" class="btn btn-success">Paragraf Ekle</button></li>
    <li class="list-group-item"><button (click)="AddChecBox()" class="btn btn-success">Onay Kutusu Ekle</button></li>
    <li class="list-group-item"><button (click)="AddTime()" class="btn btn-success">Tarih Alanı Ekle</button></li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>





  