<div  class="row g-3 align-items-center" cdkDrag
    style="background-color: rgb(150, 150, 224); margin-top: 10px;">
        <div class="col-auto">
          <label for="text" class="col-form-label">Satır Açıklaması</label>
        </div>
        <div class="col-auto">
          <input type="text" id="text" class="form-control" aria-describedby="text">
        </div>
        <div class="col-auto">
          <span id="text" class="form-text">
            lütfen Görünmesini istediğiniz Metni yazınız.(Örn: Adı)
          </span>
        </div>
        <!-- Example single danger button -->
    <div class="btn-group">
        <div class="col">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Hizalama
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Sola Dayalı</a></li>
          <li><a class="dropdown-item" href="#">Sağa Dayalı</a></li>
          <li><a class="dropdown-item" href="#">SOrtala</a></li>
          
        </ul>
    </div>
    <div class="col">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Yazı Sitili
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Kalın</a></li>
            <li><a class="dropdown-item" href="#">Altı Çizili</a></li>
            <li><a class="dropdown-item" href="#">Kalın ve Altı çizili</a></li>
            
          </ul>
    </div>
    <div class="col">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Satır İçeriği
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Paragraf</a></li>
            <li><a class="dropdown-item" href="#">Tarih</a></li>
            <li><a class="dropdown-item" href="#">Saat</a></li>
            <li><a class="dropdown-item" href="#">Çoktan Seçmeli</a></li>
            <li><a class="dropdown-item" href="#">Açılır Menü</a></li>
           
          </ul>
    </div>
    <div class="col">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Boşluklar
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Varsayılan</a></li>
            <li><a class="dropdown-item" href="#">1,5 satır</a></li>
            <li><a class="dropdown-item" href="#">2 satır</a></li>
            <li><a class="dropdown-item" href="#">10 satır</a></li>
            <li><a class="dropdown-item" href="#">50 Satır</a></li>
           
          </ul>
    </div>
    <div class="col">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Boşluklar
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Varsayılan</a></li>
            <li><a class="dropdown-item" href="#">1,5 satır</a></li>
            <li><a class="dropdown-item" href="#">2 satır</a></li>
            <li><a class="dropdown-item" href="#">10 satır</a></li>
            <li><a class="dropdown-item" href="#">50 Satır</a></li>
           
          </ul>
    </div>
    <div class="col">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Boşluklar
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Varsayılan</a></li>
            <li><a class="dropdown-item" href="#">1,5 satır</a></li>
            <li><a class="dropdown-item" href="#">2 satır</a></li>
            <li><a class="dropdown-item" href="#">10 satır</a></li>
            <li><a class="dropdown-item" href="#">50 Satır</a></li>
           
          </ul>
    </div>
      </div>
     
    </div>
